<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car_Insurance</title>
</head>
<body style="background-color: rgb(95, 84, 244);">
    <form method="get" action ="/predict">
        <label>policy_tenure:</label>
        <input type="text" name ="policy_tenure">
        <br>
        <br>
        <label>age_of_car:</label>
        <input type="text" name ="age_of_car">
        <br>
        <br>
        <label>age_of_policyholder:</label>
        <input type="text" name ="age_of_policyholder">
        <br>
        <br>
        <label>area_cluster:</label>
        <input type="text" name ="area_cluster">
        <br>
        <br>       
        <label>population_density:</label>
        <input type="text" name ="population_density">
        <br>
        <br>
        <label>make:</label>
        <input type="text" name="make">
        <br>
        <br>
        <label>segment:</label>
        <input type="text" name ="segment">
        <br>
        <br>
        <label>model:</label>
        <input type="text" name="model">
        <br>
        <br>
        <label>fuel_type:</label>
        <input type="text" name ="fuel_type">
        <br>
        <br>
        <label>max_torque:</label>
        <input type="text" name="max_torque">
        <br>
        <br>
        <label>max_power:</label>
        <input type="text" name ="max_power">
        <br>
        <br>
        <label>engine_type:</label>
        <input type="text" name="engine_type">
        <br>
        <br>
        <label>airbags:</label>
        <input type="text" name ="airbags">
        <br>
        <br>
        <label>is_esc:</label>
        <input type="text" name ="is_esc">
        <br>
        <br>
        <label>is_adjustable_steering:</label>
        <input type="text" name ="is_adjustable_steering">
        <br>
        <br>
        <label>is_tpms:</label>
        <input type="text" name ="is_tpms">
        <br>
        <br>
        <label>is_parking_sensors:</label>
        <input type="text" name ="is_parking_sensors">
        <br>
        <br>
        <label>is_parking_camera:</label>
        <input type="text" name ="is_parking_camera">
        <br>
        <br>
        <label>rear_brakes_type:</label>
        <input type="text" name="rear_brakes_type">
        <br>
        <br>
        <label>displacement:</label>
        <input type="text" name ="displacement">
        <br>
        <br>
        <label>cylinder:</label>
        <input type="text" name="cylinder">
        <br>
        <br>
        <label>transmission_type:</label>
        <input type="text" name ="transmission_type">
        <br>
        <br>
        <label>gear_box:</label>
        <input type="text" name="gear_box">
        <br>
        <br>
        <label>steering_type:</label>
        <input type="text" name ="steering_type">
        <br>
        <br>
        <label>turning_radius:</label>
        <input type="text" name="turning_radius">
        <br>
        <br>
        <label>length:</label>
        <input type="text" name ="length">
        <br>
        <br>
        <label>width:</label>
        <input type="text" name ="width">
        <br>
        <br>
        <label>height:</label>
        <input type="text" name ="height">
        <br>
        <br>
        <label>gross_weight:</label>
        <input type="text" name ="gross_weight">
        <br>
        <br>
        <label>is_front_fog_lights:</label>
        <input type="text" name ="is_front_fog_lights">
        <br>
        <br>
        <label>is_rear_window_wiper:</label>
        <input type="text" name ="is_rear_window_wiper">
        <br>
        <br>
        <label>is_rear_window_washer:</label>
        <input type="text" name ="is_rear_window_washer">
        <br>
        <br>
        <label>is_rear_window_defogger:</label>
        <input type="text" name ="is_rear_window_defogger">
        <br>
        <br>
        <label>is_brake_assist:</label>
        <input type="text" name ="is_brake_assist">
        <br>
        <br>
        <label>is_power_door_locks:</label>
        <input type="text" name ="is_power_door_locks">
        <br>
        <br>
        <label>is_central_locking:</label>
        <input type="text" name ="is_central_locking">
        <br>
        <br>
        <label>is_power_steering:</label>
        <input type="text" name ="is_power_steering">
        <br>
        <br>
        <label>is_driver_seat_height_adjustable:</label>
        <input type="text" name ="is_driver_seat_height_adjustable">
        <br>
        <br>
        <label>is_day_night_rear_view_mirror:</label>
        <input type="text" name ="is_day_night_rear_view_mirror">
        <br>
        <br>
        <label>is_ecw:</label>
        <input type="text" name ="is_ecw">
        <br>
        <br>
        <label>is_speed_alert:</label>
        <input type="text" name ="is_speed_alert">
        <br>
        <br>
        <label>ncap_rating:</label>
        <input type="text" name ="ncap_rating">       
        <br>
        <br>
        <input type="submit" value ="SUBMIT">
        

    </form>
    <br>
    <br>
    {{result}}
</body>
</html>


